

.navbar{
background:#edbb6a;
padding:15px 40px;

display:flex;
justify-content:space-between;
align-items:center;

font-family:Arial, Helvetica, sans-serif;
}




.nav-left{
display:flex;
align-items:center;
gap:25px;
}

.nav-left a{
color:white;
text-decoration:none;
font-size:16px;
font-weight:500;
transition:0.2s;
}

.nav-left a:hover{
color:#60a5fa;
}




.nav-right{
display:flex;
align-items:center;
gap:20px;
}




.profile-icon{
font-size:26px;
color:white;
transition:0.2s;
}

.profile-icon:hover{
color:#60a5fa;
}




.logout-btn{
background:#2962ff;

border:none;
color:white;

padding:6px 14px;
border-radius:6px;

cursor:pointer;
font-size:14px;

transition:0.2s;
}

.logout-btn:hover{
background:#1e4ed8;
}